@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/recoleta');
*{
    font-family: 'Poppins', sans-serif;
}
.btn-green{
    background-color: #009900;
    color: white;
}
.text-green{
    color: #00b300;
}
.bg-green{
    background-color: #00b300;
}
.partner-line {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #969696; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
.partner-line span { 
     background: #f8f9fa; 
     padding:0 10px; 
 }
.form-control:focus {
    border: none;
    box-shadow: 0 0 5px #009900;
}

                                            /* Dashboard Custom Styles */
.nav li .active-page  {
    background-color: #009900;
    color: #fff;
    border-radius: 5px;
}
.link-green{
    color: white;
    cursor: pointer;
}
.nav li .link-green{
    color: black;
    border-radius: 5px;
}
.nav li .nav-link:hover{
    background: #009900;
    color: white;
    border-radius: 5px;
}
.border-left-green{
    border-left: 4px solid #16e716;
}
#myTable_wrapper .dataTables_filter {
    margin-bottom: 10px;
}
/* Mobile Footer Custom Style */
.nav li .footer-link{
    color: black;
    border-radius: 5px;
}

/* Pick up section custom styles */
.hero-banner{
    background-color: #009900;
    border-radius: 20px;
}
.hero-text{
    font-family: 'Recoleta', sans-serif;
}
.feature {
    text-align: center;
}

.feature img {
    max-width: 100%;
    height: auto;
}

#featureContainer {
    overflow: hidden;
}

.feature-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
/* Pick up Form custom styles */
ul {
    list-style-type: none;
  }
  
  li {
    display: inline-block;
  }
  
  input[type="checkbox"][id^="myCheckbox"] {
    display: none;
  }
  
  .label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  
  .label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  .label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked + .label {
    border-color: #ddd;
  }
  
  :checked + .label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
  
  :checked + .label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
  }